
<div class = "checkbox-area">
  <!-- <label nz-checkbox >Actors</label>
  <label nz-checkbox >Directors</label> -->
  <span class="actors">Actors</span>
  <nz-switch (ngModelChange)="switch(switchValue)" [(ngModel)]="switchValue"></nz-switch>
  <span class="directors">Directors</span>
</div> 
<!-- [(ngModel)]="checked" -->

<!-- <nz-table #basicTable [nzData]="listOfData"> -->
<nz-table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let actor of actors">
      <td>{{ actor.name }}</td>
    </tr>
  </tbody>
</nz-table>