<div class="parentDiv"> 
  <div class = "checkbox-area">
    <span class="actors">Actors</span>
    <nz-switch (ngModelChange)="switch(switchValue)" [(ngModel)]="switchValue"></nz-switch>
    <span class="directors">Directors</span>
  </div> 

  <div class="search-area">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Input the name of the actor or director" #name/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i (click) = "filterBy(name.value,!switchValue)" nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>
<div class = "page-size">
  <a nz-dropdown [nzDropdownMenu]="menu">
    Number of requested actors/directors
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="changeSize(500); switch(!switchValue) ">500</li>
      <li nz-menu-item (click)="changeSize(1000); switch(!switchValue) ">1000</li>
      <li nz-menu-item (click)="changeSize(2000); switch(!switchValue) ">2000</li>
      <li nz-menu-item (click)="changeSize(5000); switch(!switchValue) ">5000</li>
      <li nz-menu-item (click)="changeSize(0); switch(!switchValue) ">All</li>
    </ul>
  </nz-dropdown-menu>
</div>


<!-- <nz-table #basicTable [nzData]="listOfData"> -->
<nz-table class = "actors-table"
    #basicTable
    [nzData] = "items" 
    [nzLoading] = "items.length == 0" 
    [nzPageSize] = 10 [nzShowPagination] = "true" 
    [nzShowSizeChanger] = "true"
    [nzTotal] = items.length 
    >
  <thead>
    <tr>
      <th [nzSortFn] = "sortName">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of basicTable.data">
      <td (click)="showModal(!switchValue,item.id)">{{ item.name }}</td>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="Statistics and genres" (nzOnOk)="handleOk()" [nzFooter]="modalFooter" >
        <ng-template #modalFooter>
          <button nz-button nzType="primary" (click)="handleOk()">Ok</button>
        </ng-template>
        <p><b>List of genres: </b></p>
        <ng-container *ngFor = "let g of genres">
          {{        g.name        }}
        </ng-container>
        <p><b>Median of popularity : </b> {{statistics.median_popularity}}</p>
        <p><b>Mean of popularity : </b> {{statistics.mean_popularity}}</p>
        <p><b>Standard deviation of popularity: </b> {{statistics.standard_deviation_popularity}}</p>
      </nz-modal>
    </tr>
  </tbody>
</nz-table>