<div class="search-area">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Input the name of the actor" #name/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click) = "getName(name.value)" ></i></button>
  </ng-template>
</div>

<nz-table>
  <thead>
    <tr>
      <th>Mean</th>
      <th>Median</th>
      <th>Standard Deviation</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{ items.mean_popularity }}</td>
      <td>{{ items.median_popularity }}</td>
      <td>{{ items.standard_deviation_popularity }}</td>
    </tr>
  </tbody>
</nz-table>