Don't forget to put sorting buttons


<div class = "find-area">
  <button  nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click)="getMoviesParam(title.value, year.value)"></i></button>
</div> 

 <!-- <div *ngFor = "let item of items">{{item.title}} </div> -->

<!-- <nz-table #basicTable [nzData]="listOfData"> -->
  <nz-table class = "movies-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>
          <div>
            <ng-container >
              <button nz-button nz-dropdown [nzDropdownMenu]="menu1">Title</button>
              <nz-dropdown-menu #menu1="nzDropdownMenu"> 
                <div class = "title-area">
                  <input nz-input placeholder="Find by Title" type="text" #title/>    
                </div>
              </nz-dropdown-menu>
            </ng-container>
          </div>
        </th>
        <th>Description</th>
        <th>Run Time</th>
        <th>Rating</th>
        <th>
          <div>
            <ng-container >
              <button nz-button nz-dropdown [nzDropdownMenu]="menu2">Year</button>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <div class = "title-area">
                  <input nz-input placeholder="Find by year" type="number" #year>
                </div>
              </nz-dropdown-menu>
            </ng-container>
          </div>
        </th>
        <th>User Rating</th>
        <th>Votes</th>
        <th>Metascore</th>
        <th> Tagline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of items">
        <td>{{ item.rating }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.runtime }}</td>
        <td>{{ item.rating}}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.users_rating }}</td>
        <td>{{ item.votes }}</td>
        <td>{{ item.metascore }}</td>
        <td>{{ item.tagline }}</td>
      </tr>
    </tbody>
  </nz-table>