<div class = "checkbox-area">
  <!-- <label nz-checkbox >Actors</label>
  <label nz-checkbox >Directors</label> -->
  <span class="actors">Actors</span>
  <nz-switch (ngModelChange)="switch(switchValue)" [(ngModel)]="switchValue"></nz-switch>
  <span class="directors">Directors</span>
</div> 
<div class="search-area">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Input the name of the actor or director" #name/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><i (click) = "getName(name.value)" nz-icon nzType="search"></i></button>
  </ng-template>
</div>
<div class="table">
<!-- <nz-table #basicTable [nzData]="listOfData"> -->
  <nz-table>
    <thead>
      <tr>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arritem of arr">
        <td>{{arritem.name}}</td>
      </tr> 
    </tbody>
  </nz-table>
</div>
