<div class="search-area">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Input the name of the actor or director" #name/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><i (click) = "getName(name.value)" nz-icon nzType="search"></i></button>
  </ng-template>
</div>
<div class="table">
<!-- <nz-table #basicTable [nzData]="listOfData"> -->
  <nz-table>
    <thead>
      <tr>
        <th>Genres</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genre of arr">
        <td>{{genre.genres}}</td>
        <td>{{genre.year}}</td>
      </tr> 
    </tbody>
  </nz-table>
</div>
